<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySignals App</title>
</head>
<body style="height: 100vh; width:100vw; background-color: black;">
    <div style="display: flex;flex-direction:column; text-align: center; justify-content: center; width: 100%; height:100%; color: white;">
        <h2>Hello {{username}} your account has been successfully activated</h2>

        <small> <a href="https://{{frontend}}" style="color: green;"> click here</a> to go to your dashboard</small>
    </div>
</body>
</html>